# Entorno virtual
.venv/
venv/
env/

# Variables de entorno con credenciales reales (Neon DB)
.env

# Archivos temporales y caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs o editores
.vscode/
.idea/
